<h2>All the pizzas fam!</h2>

<% @pizzas.each do |pizza|  %>

  <p>Name: <%= pizza.pretty_name %></p>
  <p>Order: <%= pizza.quantity %> x <%= pizza.topping %></p>
  <a href="/pizzas/<%= pizza.id %>">Order Details</a>
  <hr/>

<% end %>
