<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pizza Shop Doe!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>PIZZA SHOP DOE!</h1>
  <nav>
    <ul>
      <li>
        <a href="/pizzas/new">GET DAT PIZZA!</a>
      </li>
      <li>
        <a href="/pizzas">ALL ORDERS</a>
      </li>
    </ul>

  </nav>

  <%= yield %>
</body>
</html>
